<!DOCTYPE html>
<html>
<head>
	<title>gorillatiger Reviews...</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="gorillatiger.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<ul class="navbar navbar-fixed-top nav nav-pills">
  <li><a href="gorillatiger.html"><span class="glyphicon glyphicon-home"></span> Home</a></li>
  <li><a href="#about">About</a></li>
  <li class="dropdown">
  	<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Reviews <span class="caret"></span></a>
    	<ul class="dropdown-menu">
        	<li><a href="glassmask.html">Glass Mask</a></li>
        	<li><a href="uncharted.html">Uncharted 4</a></li>
        	<li><a href="tales.html">Tales of Zesteria</a></li>
  	 	</ul>
  </li>
</ul>
	<div class="container">
		<div class="jumbotron">
			<h1>gorillatiger Reviews...</h1>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div id="about">
				<h2><u>About</u></h2>
					<p>
						I'm from New York City and, I've been an avid gamer and anime fan for a long time. I've also been <a href="https://www.twitch.tv/gorillatiger/profile">streaming</a> my gaming sessions as a hobby lately. I mostly play JRPG's and third person shooters, but honestly there's many games I play if they catch my interests. As far as anime, I watch all kinds of stuff, and as many fans know, sometimes it's the shows that you least expect to enjoy that will speak to you.
					</p>
			</div>
			
			<h2><u>What You'll Find Here</u></h2>
				<p>
					So this site will contain my <strong>honest</strong> reviews for mostly games and anime.  
				</p>
			
			<h2><u>Spoiler Warning</u></h2>
				<p>
					Ok, so to make it clear, there will be spoilers for everything since I will only review things I have completed. 
				</p>
		</div>
	</div>
		
</body>
</html>

