<!DOCTYPE html>
<html>
<head>
	<title>gorillatiger Reviews...Glass Mask</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="gorillatiger.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<ul class="navbar navbar-fixed-top nav nav-pills">
  <li><a href="gorillatiger.html"><span class="glyphicon glyphicon-home"></span> Home</a></li>
  <li><a href="about.html">About</a></li>
  <li class="dropdown">
  	<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Reviews <span class="caret"></span></a>
    	<ul class="dropdown-menu">
			<li><a href="glassmask.html">Glass Mask</a></li>
        	<li><a href="uncharted.html">Uncharted 4</a></li>
        	<li><a href="tales.html">Tales of Zesteria</a></li>
  	 	</ul>
  </li>
</ul>
	<div class="container">
		<div class="jumbotron">
			<h1>gorillatiger Reviews...Glass Mask</h1>
				<p>
					<img src="https://myanimelist.cdn-dena.com/images/anime/1/2043.jpg">
				</p>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<h2><u>Review</u></h2>
				<p>
					Text Goes Here
				</p>
		</div>
	</div>
		
</body>
</html>

